

# hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
hugo.exe
hugo.darwin
hugo.linux
/.hugo_build.lock

# macOS
.DS_Store

# js 
package-lock.json

# dep dirs
node_modules/
jspm_packages/
web_modules/

# node
# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# runtime data
pids
*.pid
*.seed
*.pid.lock

# libs cleanup
lib-cov
coverage
*.lcov
.nyc_output
*.tgz
.yarn-integrity

# grunt intermediate storage
.grunt 

# node-waf configuration
.lock-wscript

# js caches
*.tsbuildinfo
.npm
.eslintcache 
.stylelintcache
.cache
.parcel-cache

# microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# dot env files
.env 
.env.development.local
.env.test.local
.env.production.local
.env.local

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*