/* Overrides any definitions in any other included stylesheets */

html {
    font-family: 'Inconsolata', sans-serif;
}

.sidebar {
    text-align: left;
    padding: 1rem;
}

.sidebar-about {
    text-align: left;
}

.sidebar-about p.lead {
   text-align: left;
}

.sidebar-about h1 {
    font-family: 'Odibee Sans Regular';
    font-size: 2.5em;
}
