/* Overrides any definitions in any other included stylesheets */

html {
    font-family: 'Inconsolata', sans-serif;
}

/* padding order: Top Right Bottom Left */

.sidebar {
    text-align: left;
}

.sidebar a:hover {
    text-decoration: underline;
    text-decoration-color: #eb6bab;
}

.sidebar-about {
    text-align: left;
    text-decoration: none;
}

.sidebar-about a:hover {
    text-decoration: underline;
    text-decoration-color: #eb6bab;
}

.sidebar-about h1 {
    font-family: 'Odibee Sans Regular';
    font-size: 2.4em;
}

.sidebar-about li.lead {
    text-decoration: underline;
    text-decoration-color: #eb6bab;
}
.sidebar-about p.lead {
    text-align: left;
    font-family: 'Odibee Sans Regular';
    font-size: 1.8rem;
    letter-spacing: .09rem
}