
/* Main grid styling */

h1 {
    text-align: center;
}

.left-display {
    border: 1px solid black;
    padding: 1%;
    width: 30%;
    margin: 10px;
}

.question-display {
    display: flex;
    justify-content: center;
}

.status {
    display: flex;
    justify-content: space-around;
}

.row {
    display: flex;
}

.one-category, .question, .final-question {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.scoreboard {
    justify-content: space-around;
}

.message-correct, .message-incorrect {
    display: none;
}
