/* Main grid styling */

body {
    background-color: forestgreen;
}

.container {
    background-color: white;
    width: 70%;
    margin: auto;
}

.status {
    display: flex;
    justify-content: space-around;
}

.row {
    display: flex;
}

.one-category, .question, .final-question {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.scoreboard {
    justify-content: space-around;
}

.update-correct {
    text-align: center;
    display: none;
}

.update-incorrect {
    text-align: center;
    display: none;
}

/* Individual question modals */

#question-modal-astro-10 {
    display: none;
    background-color: #ffffff;
	z-index: 1;
    position:absolute;
	overflow: auto;
    height: 400px;
    width: 500px;
    border: 1px solid #000000;
}

#update-correct-astro-10 {
    text-align: center;
    display: none;
}

#update-incorrect-astro-10 {
    text-align: center;
    display: none;
}

#question-modal-hp-10 {
    display: none;
    background-color: #ffffff;
	z-index: 1;
    position:absolute;
	overflow: auto;
    height: 400px;
    width: 500px;
    border: 1px solid #000000;
}

#update-correct-hp-10 {
    text-align: center;
    display: none;
}

#update-incorrect-hp-10 {
    text-align: center;
    display: none;
}
