/* Main grid styling */

body {
    background-color: forestgreen;
}

.container {
    background-color: white;
    float: right;
}

.left-display {
    float: left;
    border: 1px solid black;
    padding: 10px;
}

.status {
    display: flex;
    justify-content: space-around;
}

.row {
    display: flex;
}

.one-category, .question, .final-question {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.scoreboard {
    justify-content: space-around;
}


#question-modal-astro-20 {
    display: none;
}